@{
    ViewData["Title"] = "index";
}

<div class="row">

    <div class="col-12">
        <h2>Plano de Contas</h2>
    </div>

    <div class="col-12">
        <a class="btn btn-primary" asp-area="" asp-controller="Transacao" asp-action="Cadastrar">Criar Item</a>
    </div>

</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
