USE [master]
GO
/****** Object:  Database [myfinance]    Script Date: 14/02/2023 21:46:53 ******/
CREATE DATABASE [myfinance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myfinance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\myfinance.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myfinance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\myfinance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myfinance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [myfinance]
GO
/****** Object:  Table [dbo].[planoconta]    Script Date: 14/02/2023 21:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[planoconta](
	[id] [int] NOT NULL,
	[descricao] [varchar](50) NOT NULL,
	[tipo] [char](1) NOT NULL,
 CONSTRAINT [PK_planoconta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacao]    Script Date: 14/02/2023 21:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacao](
	[id] [int] NOT NULL,
	[data] [datetime] NOT NULL,
	[valor] [decimal](9, 2) NOT NULL,
	[historico] [text] NULL,
	[planocontaid] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[transacao]  WITH CHECK ADD  CONSTRAINT [FK_transacao_planoconta] FOREIGN KEY([planocontaid])
REFERENCES [dbo].[planoconta] ([id])
GO
ALTER TABLE [dbo].[transacao] CHECK CONSTRAINT [FK_transacao_planoconta]
GO
USE [master]
GO
